#portfolio{
    padding-bottom: 80px;
    .section-heading{
        h4{
            color: $theme-color;
            font-size: 2.6rem;
            font-weight: normal;
            line-height: 1.2;
            font-weight: 600;
        }
        p{
            color: #8f8f8f;
            font-size: 16px;
            line-height: 1.9;
        }
    }
}